@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Поиск репетиторов</h1>
    <p class="lead">Здесь Вы можете легко найти подходящего репетитора не менее чем по @ViewBag.SubjectCount предметам среди @ViewBag.TutorCount преподавателей</p>
    <p><a href="/Student/ShowTutors" class="btn btn-primary btn-lg">Начать поиск &raquo;</a></p>
</div>

<div class="container">
    <h1>Интересует репетитор по этим предметам?</h1>
    <div class="row">
    <div class="col-md-3 subject_icon">
        <div class="col-md-4">
        <img src="~/Content/Images/math.png" class="img-responsive center-block" />
        </div>
        <div class="col-md-8">        
        <h2>Математика</h2>      
        <p><a class="btn btn-default" href="@Url.Action("ShowTutors", "Student", new { selectedSubject=9 })">Найти подходящего &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3 subject_icon">
        <div class="col-md-4">
            <img src="~/Content/Images/literature.png" class="img-responsive center-block" />
        </div>
        <div class="col-md-8">
            <h2>Литература</h2>
            <p><a class="btn btn-default" href="@Url.Action("ShowTutors", "Student", new { selectedSubject=10 })">Найти подходящего &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3 subject_icon">
        <div class="col-md-4">
            <img src="~/Content/Images/english.png" class="img-responsive center-block" />
        </div>
        <div class="col-md-8">
            <h2>Английский язык</h2>
            <p><a class="btn btn-default" href="@Url.Action("ShowTutors", "Student", new { selectedSubject=1 })">Найти подходящего &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3 subject_icon">
        <div class="col-md-4">
            <img src="~/Content/Images/physics.png" class="img-responsive center-block" />
        </div>
        <div class="col-md-8">
            <h2>Физика</h2>
            <p><a class="btn btn-default" href="@Url.Action("ShowTutors", "Student", new { selectedSubject=11 })">Найти подходящего &raquo;</a></p>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-3 subject_icon">
        <div class="col-md-4">
            <img src="~/Content/Images/chemistry.png" class="img-responsive center-block" />
        </div>
        <div class="col-md-8">
            <h2>Химия</h2>
            <p><a class="btn btn-default" href="@Url.Action("ShowTutors", "Student", new { selectedSubject=12 })">Найти подходящего &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3 subject_icon">
        <div class="col-md-4">
            <img src="~/Content/Images/biology.png" class="img-responsive center-block" />
        </div>
        <div class="col-md-8">
            <h2>Биология</h2>
            <p><a class="btn btn-default" href="@Url.Action("ShowTutors", "Student", new { selectedSubject=13 })">Найти подходящего &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3 subject_icon">
        <div class="col-md-4">
            <img src="~/Content/Images/history.png" class="img-responsive center-block" />
        </div>
        <div class="col-md-8">
            <h2>История</h2>
            <p><a class="btn btn-default" href="@Url.Action("ShowTutors", "Student", new { selectedSubject=14 })">Найти подходящего &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3 subject_icon">
        <div class="col-md-4">
            <img src="~/Content/Images/it.png" class="img-responsive center-block" />
        </div>
        <div class="col-md-8">
            <h2>Информатика</h2>
            <p><a class="btn btn-default" href="@Url.Action("ShowTutors", "Student", new { selectedSubject=15 })">Найти подходящего &raquo;</a></p>
        </div>
    </div>
    </div>
</div>