@model professorMarketWebUI.Models.LessonTypesModel
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    function ltSubmit() {
        var res = $('#ltForm').serialize();
        $.ajax({
            type: 'POST',
            url: '/Admin/AddLessonTypes',
            data: res,
            success: function (data) {
                if (data.error) {
                    $('#ltErr').append(data.errorMsg);
                    $('#ltErr').removeClass('hidden');
                    setTimeout(function () { $('#ltErr').addClass('hidden') }, 5000);
                } else {
                    $('#ltForm .form-control').val('');
                    $('#ltSuc').removeClass('hidden');
                    setTimeout(function () { $('#ltSuc').addClass('hidden') }, 5000);
                    $('#ltTable tr:last').after('<tr><td scope="row">' + data.ltName + '</td></tr>');
                }
            },
            error: function (xhr, str) {
                $('#ltErr').removeClass('hidden');
                setTimeout(function () { $('#ltErr').addClass('hidden') }, 5000);
            }
        });

    }
</script>
@{ Layout = null; }
<table class="table table-inverse" id="ltTable">
    <thead>
        <tr>
            <th>Название</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lt in BLL.Data.AdditionalData.GetLessonTypes())
        {
            <tr>
                <td scope="row">@lt.name</td>                
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ltForm" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Добавить</h4>
    <hr />
    <div class="alert alert-success hidden" id="ltSuc" role="alert">
        Все обновления произведены!
    </div>
    <div class="alert alert-danger hidden" id="ltErr" role="alert">
        Произошла ошибка!
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="javascript:void(0);" id="ltBtn" onclick="ltSubmit();" class="btn btn-default">Сохранить</a>
        </div>
    </div>
</div>
}


