@model BLL.DTO.RequestForAdminDTO

<div class="alert alert-success hidden" role="alert" id="@("subjectAddAlert"+Model.id)">
    Успешно добавлен новый предмет: 
</div>
<div class="subjectRequest" id="@("subjectRequest"+Model.id)" data-request-id="@Model.id">

    <div class="row jumbotron">        
        <div class="col-md-12">
            <h2 class="display-3">@Model.user.name</h2>
            <h2 class="display-3">@("От: " + Model.date.ToString("dd.MM.yyyy"))</h2>
            <hr class="m-y-2">
            <div class="row">
                <div class="col-md-12 alert alert-info">
                    <p style="font-weight: bold">Название предмета: <p>@Model.text
                </div>
            </div>
            <div class="btn-group select_subjectType" id="@("selectSubjectType"+Model.id)">
                <p class="label label-info" id="@("label"+Model.id)" data-subject-type=""></p><br>
                <button class="btn btn-secondary dropdown-toggle" style="margin-top:20px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Группа предметов <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var st in BLL.Data.AdditionalData.GetSubjectTypes())
                    {
                    <li><a href="javascript:void(0);" class="dropdown-item" data-item-id="@st.id" data-request-id="@Model.id" data-item-name="@st.name">@st.name</a></li>
                    }                    
                </ul>
            </div>
            <div class="form-group">
                <label for="@("subjectTbx"+Model.id)">Предмет</label>
                <input type="text" class="form-control" id="@("subjectTbx"+Model.id)" required placeholder="Название предмета">
            </div>
            <div class="row" id="@("buttonRow" + Model.id)">
                <div class="col-md-6">
                    <p class="lead">
                        <a class="btn btn-success btn-lg" onclick="@Html.Raw(String.Format("addSubject({0}, true)", Model.id))" href="javascript:void(0);" id="@("addSubjectBtn" + Model.id)" data-request-id="@Model.id">Добавить</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="lead">
                        <a class="btn btn-danger btn-lg" onclick="@Html.Raw(String.Format("addSubject({0}, false)", Model.id))" href="javascript:void(0);" id="@("addSubjectBtn" + Model.id)" data-request-id="@Model.id">Отклонить</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>