@model BLL.DTO.RequestDTO
<div class="tutorDiv" id="@Model.id" data-request-id="@Model.id">

    <div class="row jumbotron">
        <div class="col-md-3 Avatar">
            <img class="control-label avatarImgDisplay" onerror="this.src='@Url.Content("~/Content/Images/avatarPlaceholder.png")'" src="@Url.Action("Avatar", "User", new { Id = Model.student.avatarId })" title="avatarImage" />
        </div>
        <div class="col-md-9">
            <h2 class="display-3">@Model.student.name</h2>
            <hr class="m-y-2">
            <div class="row">
                <div class="col-md-12 alert alert-info">
                    <p style="font-weight: bold">Адрес: <p>@Model.student.adress
                </div>
            </div>
            <div class="row alert alert-info">
                <div class="col-md-4">
                    <p style="font-weight: bold">Лет: <p>@(Model.student.birthDate.HasValue ? BLL.Data.UserData.GetAge(Model.student.birthDate.Value) : BLL.Data.UserData.GetAge(DateTime.Today))
                </div>
                <div class="col-md-4">
                    <p style="font-weight: bold">Уровень обучения: <p>@(BLL.Data.AdditionalData.GetLessonLevel(Model.student.lessonsLevelId).name)
                </div>
            </div>
            <div class="row alert alert-info">
                <div class="col-md-6">
                    <p style="font-weight: bold">Форма занятий: <p>@(BLL.Data.AdditionalData.GetLessonType(Model.lessonTypeId).name)
                </div>
                <div class="col-md-6">
                    <p style="font-weight: bold">Предмет: <p>@(BLL.Data.AdditionalData.GetSubject(Model.subjectId).name)
                </div>
            </div>
            <div class="row" id="@("buttonRow" + Model.id)">
                <div class="col-md-6">
                    <p class="lead">
                        <a class="btn btn-success btn-lg" onclick="@Html.Raw(String.Format("ChangeStatus({0}, true)", Model.id))" href="javascript:void(0);" id="@("changeStatusBtn" + Model.id)" data-request-id="@Model.id">Принять заявку</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="lead">
                        <a class="btn btn-danger btn-lg" onclick="@Html.Raw(String.Format("ChangeStatus({0}, false)", Model.id))" href="javascript:void(0);" id="@("changeStatusBtn" + Model.id)" data-request-id="@Model.id">Отклонить заявку</a>
                    </p>
                </div>
            </div>
            <div class="row alert alert-info hidden" id="@("secretInfoRow" + Model.id)">
                <div class="col-md-6">
                    <p style="font-weight: bold">email: <p>@(Model.student.email)
                </div>
                <div class="col-md-6">
                    <p style="font-weight: bold">Skype: <p>@(!String.IsNullOrEmpty(Model.student.Skype) ? Model.student.Skype : "нет данных")
                </div>
            </div>

        </div>
    </div>
</div>

